@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?tomleg') format('truetype'), url('../fonts/icomoon.woff?tomleg') format('woff'), url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    margin: 0;
    padding: 0;
}

.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.shortcut ul li {
    float: left;
}

ul {
    list-style-type: none;
}

.style_red {
    color: red;
}

.shortcut .fr ul li:nth-child(2n) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 8px 9px 0;
}

.arrow-icon::after {
    content: '\e91e';
    font-family: 'icomoon';
}

.header {
    height: 105px;
}

.row {}